html {
  font-size: 21.33333333px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  margin: 0 auto;
  width: 15rem;
  min-width: 320px;
  background-color: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
li {
  list-style: none;
}
.search {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 15rem;
  height: 1.76rem;
  background-color: skyblue;
  padding: 0.2rem 0.48rem;
}
.search a {
  display: block;
  margin-right: 0.96rem;
  width: 10.44rem;
  height: 1.36rem;
  background-color: #fff;
  border-radius: 0.64rem;
  color: #333;
}
.search a span {
  font-size: 0.72rem;
  color: #757575;
}
.search a .iconfont {
  color: #ccc;
  margin-left: 0.4rem;
}
.search img {
  width: 0.72rem;
  height: 1.2rem;
}
.category {
  padding: 1.86rem 0.48rem 0.1rem;
  height: 8.16rem;
}
.category ul {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  height: 100%;
  border-radius: 0.4rem;
}
.category ul li {
  width: 20%;
  flex-shrink: 0;
}
.category ul li a {
  display: block;
  text-align: center;
  width: 3rem;
  height: 2.84rem;
  color: #666;
}
.category ul li a img {
  width: 1.68rem;
}
.category ul li a span {
  display: block;
  font-size: 0.44rem;
}
.view {
  display: flex;
}
.view a {
  display: block;
}
.view a img {
  height: 3.8404rem;
  width: 5rem;
}
.interval {
  height: 0.48rem;
}
.wrap {
  display: flex;
  justify-content: space-around;
}
.wrap .left,
.wrap .right {
  width: 6.84rem;
  height: 13.68rem;
}
.wrap .left .list,
.wrap .right .list {
  display: flex;
  margin-bottom: 0.36rem;
}
.wrap .left .list a,
.wrap .right .list a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 3.42rem;
  height: 4.2rem;
  background-size: 3.42rem;
}
.wrap .left .list a img,
.wrap .right .list a img {
  width: 2.72rem;
  height: 2.72rem;
  margin-bottom: 0.56rem;
}
.wrap .left .list a span,
.wrap .right .list a span {
  position: absolute;
  bottom: 0.2rem;
  padding: 0 0.28rem;
  line-height: 0.56rem;
  color: #b95a17;
  background-color: #fff6ed;
  border-radius: 0.28rem;
  font-size: 0.44rem;
  text-align: center;
}
.wrap .left .list a:nth-child(1),
.wrap .right .list a:nth-child(1) {
  background-image: url(../images/榜1.png);
}
.wrap .left .list a:nth-child(2),
.wrap .right .list a:nth-child(2) {
  background-image: url(../images/榜2.png);
}
.wrap .right .list a:nth-child(1) {
  background-image: url(../images/榜3.png);
}
.wrap .right .list a:nth-child(2) {
  background-image: url(../images/榜4.png);
}
.wrap .left .discount a {
  position: relative;
  display: block;
  height: 8.76rem;
  border-radius: 20px;
  overflow: hidden;
}
.wrap .left .discount a img {
  width: 6.84rem;
}
.wrap .left .discount a img:nth-child(1) {
  position: absolute;
  height: 1.2rem;
}
.wrap .left .discount a img:nth-child(2) {
  height: 8.76rem;
}
.wrap .left .discount a ul {
  display: flex;
  position: absolute;
  bottom: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.wrap .left .discount a ul li {
  width: 0.18rem;
  height: 0.16rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 0.08rem;
  border-radius: 0.08rem;
}
.wrap .left .discount a ul li:nth-child(1) {
  width: 0.36rem;
  background-color: #fff;
}
.wrap .right .card {
  height: 4.2rem;
  background-image: url(../images/card1.png);
  background-size: 100%;
  margin-bottom: 0.36rem;
}
.wrap .right .card div {
  display: flex;
  justify-content: space-around;
}
.wrap .right .card div span {
  display: block;
  width: 3.12rem;
  line-height: 0.96rem;
  font-size: 0.52rem;
  color: #fff;
  text-align: center;
}
.wrap .right .card a {
  float: left;
  position: relative;
  display: block;
  margin-left: 0.24rem;
  text-align: center;
  width: 3.12rem;
  height: 3rem;
}
.wrap .right .card a img {
  width: 2.4rem;
  margin-top: 0.3rem;
}
.wrap .right .card a span {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  width: 2.8rem;
  line-height: 0.56rem;
  border-radius: 0.28rem;
  font-size: 0.48rem;
  background-color: #ff4b19;
  color: #fff;
}
.wrap .right .card a span:nth-child(2) {
  left: 0.1rem;
}
.advt a img {
  height: 4rem;
}
.goods {
  padding: 0 0.48rem;
}
.goods .title a {
  display: block;
  height: 1.2rem;
  background: url(../images/goods-title.webp) no-repeat;
  background-size: 14.04rem 1.2rem;
}
.goods .commodity {
  display: flex;
  justify-content: space-between;
}
.goods .commodity .left,
.goods .commodity .right {
  width: 6.84rem;
}
.goods .commodity .left .toll,
.goods .commodity .right .toll {
  border-radius: 0.24rem;
  overflow: hidden;
  margin-bottom: 0.36rem;
}
.goods .commodity .left .toll a:nth-child(1),
.goods .commodity .right .toll a:nth-child(1) {
  display: block;
  height: 6.84rem;
}
.goods .commodity .left .toll a:nth-child(1) img,
.goods .commodity .right .toll a:nth-child(1) img {
  width: 100%;
  height: 100%;
}
.goods .commodity .left .toll .introduce,
.goods .commodity .right .toll .introduce {
  display: block;
  padding: 0.36rem 0.24rem;
  background-color: #fff;
}
.goods .commodity .left .toll .introduce div:nth-child(1),
.goods .commodity .right .toll .introduce div:nth-child(1) {
  font-size: 0.52rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.goods .commodity .left .toll .introduce div:nth-child(2),
.goods .commodity .right .toll .introduce div:nth-child(2) {
  height: 0.48rem;
  margin: 0.22rem 0 0.48rem;
  background: url(../images/store.png) no-repeat;
  background-size: 0.96rem;
}
.goods .commodity .left .toll .introduce div:nth-child(3),
.goods .commodity .right .toll .introduce div:nth-child(3) {
  font-size: 0.48rem;
  color: #f42;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.goods .commodity .left .toll .introduce div:nth-child(3) span:nth-child(2),
.goods .commodity .right .toll .introduce div:nth-child(3) span:nth-child(2) {
  font-size: 0.72rem;
}
.goods .commodity .left .toll .introduce div:nth-child(3) span:nth-child(4),
.goods .commodity .right .toll .introduce div:nth-child(3) span:nth-child(4) {
  font-size: 0.4rem;
  color: #999;
  margin-left: 0.26rem;
  font-weight: 400;
}
.goods .commodity .left .toll .introduce div:nth-child(4),
.goods .commodity .right .toll .introduce div:nth-child(4) {
  padding: 0.36rem 0.44rem 0 0;
  line-height: 0.84rem;
  border-top: 1px #999 solid;
  display: flex;
  justify-content: space-between;
}
.goods .commodity .left .toll .introduce div:nth-child(4) div,
.goods .commodity .right .toll .introduce div:nth-child(4) div {
  width: 3rem;
  padding-left: 1.04rem;
  font-size: 0.48rem;
  color: #666;
  background: url(../images/goods_cate.png) no-repeat;
  background-size: 0.84rem;
}
.goods .commodity .left .toll .introduce div:nth-child(4) span,
.goods .commodity .right .toll .introduce div:nth-child(4) span {
  display: block;
  margin-top: 0.24rem;
  width: 0.2rem;
  height: 0.36rem;
  background: url(../images/箭头.png) no-repeat;
}
.end {
  height: 7.26rem;
}
.end img {
  height: 3.46rem;
}
.foot {
  position: fixed;
  bottom: 0;
}
.foot div:nth-child(1) {
  height: 1.8rem;
}
.foot div:nth-child(1) img {
  width: 100%;
}
.foot div:nth-child(2) {
  background-color: #fff;
}
.foot div:nth-child(2) ul {
  display: flex;
}
.foot div:nth-child(2) ul li a {
  display: block;
  width: 3rem;
  height: 2rem;
  font-size: 0.4rem;
  color: #666;
  text-align: center;
}
.foot div:nth-child(2) ul li a img {
  display: block;
  margin: 0.24rem 1.02rem 0;
}
