@media screen and (max-width:320px) {
    html {
        font-size: 32px !important;
    }
}

@media screen and (min-width:750px) {
    html {
        font-size: 75px !important;
    }
}

body {
    margin: 0 auto;
    width: 10rem;
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

li {
    list-style: none;
}

header {
    img {
        height: 1.72rem;
        width: 10rem;
    }
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1.8533rem);
    grid-template-rows: 2.3467rem 2.3467rem;
    justify-content: space-between;
    align-content: space-between;
    margin: .6rem .7467rem 0 .6933rem;
    width: 8.56rem;
    height: 5.5733rem;

    a {
        display: block;
        width: 1.8533rem;
        height: 2.3733rem;
        text-align: center;

        img {
            width: 1.8533rem;
            height: 1.8533rem;
        }

        span {
            display: block;
            font-size: .3333rem;
            color: #707070;
        }
    }

}

.advert {
    margin: .8rem auto .5733rem;
    width: 9.6267rem;
    height: 2.0267rem;

    img {
        width: 9.6267rem;
        height: 2.0267rem;
    }

}

.divide {
    height: .1333rem;
    background-color: #f2f4f7;
}

div {
    .top {
        display: flex;
        justify-content: space-between;
        margin: .6667rem .32rem .5067rem .2933rem;
        height: .5067rem;

        h2 {
            line-height: .5067rem;
            font-size: .3733rem;
            background: url(../images/新手指导@2x.png) no-repeat;
            background-size: .5067rem .5067rem;
            padding-left: .7467rem;
        }

        span {
            line-height: .5067rem;
            font-size: .2933rem;
            color: #999;
        }
    }
}

.slider {



    .body {
        position: relative;
        padding: .4533rem 1.4667rem .5067rem;
        height: 6.6267rem;

        .swiper-container {
            width: 7.16rem;
            height: 100%;
            overflow: hidden;

            .swiper-wrapper {
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;

                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    transition: 300ms;
                    transform: scale(0.8);
                    opacity: 0.4;

                    a {
                        position: relative;
                        flex-shrink: 0;
                        width: 4.5067rem;
                        height: 5.0133rem;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        span {
                            font-size: .3333rem;
                            margin-top: .32rem;
                            color: #333;
                        }

                        img:nth-child(3) {
                            position: absolute;
                            top: 1.9733rem;
                            left: 1.8933rem;
                            width: .9067rem;
                            height: .9067rem;
                        }
                    }

                }

                .swiper-slide-active,
                .swiper-slide-duplicate-active {
                    transform: scale(1);
                    z-index: 10;
                    opacity: 1;
                }
            }
        }

        div[class^="swiper-button-"] {
            position: absolute;
            color: black;
            height: .5733rem;
            width: .3067rem;
        }

        .swiper-button-prev {
            left: .4rem;
        }

        .swiper-button-next {
            right: .4rem;
        }
    }
}

.student {
    background-color: #fdfdfd;

    .top {
        h2 {
            background: url(../images/充电保@2x.png) no-repeat;
            background-size: .5067rem .5067rem;
        }
    }

    .course {
        padding: .52rem 0 0 .4133rem;
        height: 5.16rem;
        overflow: hidden;
        margin-bottom: .3733rem;
        background-color: skyblue;

        .swiper-container2 {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .swiper-slide {
            padding-top: .1333rem;
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            transition: 300ms;

            a {
                img {
                    width: 3.6267rem;
                    height: 2.28rem;
                    margin-bottom: .2667rem;
                }

                span {
                    display: block;
                    text-align: start;
                }

                span:nth-child(2) {
                    font-size: .4rem;
                    color: #333740;

                   
                }
                 span:nth-child(3) {
                    margin-top: .3733rem;
                    color: #999;
                    font-size: .2667rem;
                    strong {
                        color: #f40;
                    }
                 }
            }
        }
    }
}

.footer {
    height: 1.2667rem;
    margin-bottom: .2533rem;
    padding-top: .3333rem;

    ul {
        display: flex;
        justify-content: space-around;

        li {
            a {
                img {
                    width: 1.1733rem;
                    height: .9333rem;
                }
            }
        }

        li:nth-child(1) {
            a {
                img {
                    width: .5867rem;
                    height: .9867rem;
                }
            }
        }
    }
}